.connectSection {
    background-color: #432642;
    color: white;
    padding: 100px 40px;
    text-align: center; 
  }
  
  .connectSection h2 {
    font-size: 40px;
    margin-bottom: 10px;
    animation: fadeInSlideUp 1.5s ease-in-out;
  }
  
  .connectSection p {
    font-size: 18px;
    margin-bottom: 50px;
    animation: fadeInSlideUp 1.5s ease-in-out;
  }
  
  .contactBtn {
    text-decoration: none;
    color: white;
    background-color: #4560e7;
    font-size: 20px;
    padding: 12px 25px;
    border-radius: 8px;
    transition: background 0.3s ease;
    animation: fadeInSlideUp 1.5s ease-in-out;
  }
  
  .contactBtn:hover {
    background-color: #ffffff;
    color: black;
  }
  
  @keyframes fadeInSlideUp {
    from {
      opacity: 0;
      transform: translateY(60px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  