@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

  .container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(145deg, #34293d75, #3E3F5B); */
  color: #ffffff;
  padding: 2rem;
  text-align: center;
}

.content {
  max-width: 900px;
  animation: fadeIn 1s ease-out;
  z-index: 1;
}

.title {
  font-size: 70px;
  margin-bottom: 2rem;
  font-family: 'Rubik Iso', cursive;
  font-weight: 600;
}

.subtitle {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 6rem;
  font-family: "Times New Roman", Times, serif;
  padding-left: 100px;
  padding-right: 100px;
}

.description {
  font-size: 18px;
  color: #dddddd;
  margin-bottom: 2rem;
}

.cta,
.resume {
  border: 2px solid transparent; /* Set initial border */
  box-sizing: border-box; /* Ensure padding+border are inside the element size */
}
.cta {
  display: inline-block;
  background-color: rgb(123, 202, 205);
  color: #0f0f0f;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  padding: 13px;
  font-size: 20px;
  /* transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; */
}
.resume {
  display: inline-block;
  background-color: #42187c;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  padding: 13px;
  font-size: 20px;
  margin-left: 100px;
  /* transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; */
}
.resume:hover{
  background-color: transparent;
  color: rgb(255, 255, 255);
  /* transition: 0.2s ease-in-out; */
  border: 2px solid #9a6fd6;

}
.cta:hover {
  background-color: transparent;
  border: 2px solid rgb(123, 202, 205);
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  